<html>
    <head>
        <title>

        </title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link  href="/StyleSheets/cropper.css" rel="stylesheet">
    </head>
    <body>
         
        
        <h1 class="cl">HOILAAAA</h1>


        
        <script src="/js/cropper.js"></script>
        <script>
            a(1,2)
        </script>
    </body>
</html>