@charset "UTF-8";

.profile-box{
    margin-top: 30px;
    box-shadow:1px 1px 10px grey; 
    background-color: white;
    border: 0.1px solid grey;
    border-radius: 0.1px 10px 10px 10px;
    padding-left: 0px;
}
.back-color{
    background-color: #E9EBEE;
    height: 100%;
  }
.block{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;

}
.image{
    align-items: center;
}